/* get font from google fonts */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/merriweather/v33/u-4D0qyriQwlOrhSvowK_l5UcA6zuSYEqOzpPe3HOZJ5eX1WtLaQwmYiScCmDxhtNOKl8yDr3icaFF31.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    width: 700px;
    font-family: "Merriweather", serif;
    font-size: 18px;
    margin: 15px;
    padding: 7px;
    padding-left: 15px;
}

/* negative margin to balance the body padding */ 
.title {
    margin-top: -5px;
    margin-bottom: 0px;
    font-size: 60px;
    font-weight: 900;
    border: none
    
}

.serving {
    margin-top: 7px;
    margin-bottom: 0px;
    border-top: solid;
    border-bottom: solid;
    font-weight: 900;
}

.subtitle { 
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 36px;
    font-weight: 900;
}

.ingredients {
    margin-top: 0px;
}

/* reset li margins */
li {
    margin: 0;
    padding: 0;
}

/* set bullet point list style */
ul {
    list-style-type: none;
    list-style-position: inside;
    font-size: 20px;
    font-weight: 900;
    margin-left: 15px;
    margin-bottom: 7px;
    padding: 0;
}

/* set numbered list style */
ol {
    list-style-position: outside;
    margin-top: 0px;
    margin-left: 15px;
    margin-bottom: 7px;
    padding: 10px;
    padding-bottom: 0px;
    text-align: justify;
    line-height: 30px;
}

.link {
    text-align: right;
    margin: 0px;
    padding: 0px;
}
/* set link style */
a {
    text-decoration: none;
    color: #000000;
    font-weight: 100;
    transition: all 0.5s ease-out;
}

a:hover {
    color: #a50000;
    border-top: 4px solid #a50000;
    border-bottom: 4px solid #a50000;
}