/* get font from google fonts */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/merriweather/v33/u-4D0qyriQwlOrhSvowK_l5UcA6zuSYEqOzpPe3HOZJ5eX1WtLaQwmYiScCmDxhtNOKl8yDr3icaFF31.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background: #fffcf3;
    font-family: "Merriweather", serif;
    font-size: 36px;
    font-weight: 100;
}

ul, li {
    list-style-type: none;
    list-style-position: inside;
    margin: 0px;
    padding: 0px;
}


.card {
    width: 400px;
    border-left: 5px solid #000000;
    border-right: 5px solid #000000;
    padding: 0;
    text-align: justify;
}

.title {
    margin: 0;
    margin-bottom: 15px;
    padding: 5px;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.recipe-link {
    border-top: 3px solid #000000;
    width: 350px;
    margin: 0 auto;
    padding: 0;
    text-align: right;
    font-size: 26px;
}

.image {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 250px;
    width: 100px;
    height: 100px;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 3px 3px 10px #888888;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(255, 255, 255);
    background: #7f81ff73;
    text-decoration: overline #2c2ff5;
}

